{% extends 'Main/base.html' %}
{% load static %}
{% block content %}

    <header>
        <div class="my-container">
            <div id="branding">
                <a href="{% url 'Main-home' %}"><h1>What's In Your Fridge...</h1></a>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container mt-4 mb-4">
            <h2>You have been Logged Out...</h2>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Login Again</a>
                </small>
            </div>
    </div>

    <!-- Footer -->
    <footer class="fixedFooter">
        Designed and Developed by: <a href="https://www.linkedin.com/in/shlok-shaha" target="_blank">Shlok Shaha</a> | <a href="https://www.linkedin.com/in/aagaaz-ali-sayed-1063851ba" target="_blank">Aagaaz Sayed</a>
        <a href="#" style="float: right;">Back to top</a>
    </footer>

{% endblock %}
